* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(22, 22, 56, 0.5);
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box input[type="text"],
.box input[type="password"] {
    padding: 10px 20px;
    margin: 13px;
    border: none;
    background-color: #111017;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    color: white;
    max-width: 300px;
}

.box input[type="submit"] {
    padding: 10px 20px;
    margin: 13px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(22, 22, 56);
    color: white;
}

input:focus {
    outline: none;
    border: 2px solid #333;
}

h1 {
    color: white;
}

a {
    text-decoration: none;
    color: #d8cce7;
    margin-left: 200px;
}

a:hover {
    text-decoration: underline;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
